.ArticleList {
	flex-grow: 1;
	flex-shrink: initial;
}

.PLATE {
	.card {
		margin: 20px 20px 20px 45px;
	}

	.footer {
		padding-bottom: 10px;
	}
}

.LIST {
	.articlesList {
		display: flex;
		gap: 25px;
		padding: 0 0 0 45px;
		flex-wrap: wrap;
	}

	.itemsWrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 25px;
		margin: 20px 20px 0 45px;
	}

	.ItemContainer {
		width: 230px;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	/* stylelint-disable-next-line media-feature-range-notation */
	@media (max-width: 1024px) {
		width: 50%;
	}
}

.skeleton {
	padding-bottom: 30px;
}
